<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="dashboard-container">
        <h2>Admin Dashboard</h2>
        <h3>Medicines List</h3>
        <table>
            <thead>
                <tr>
                    <th>Medicine</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for medicine in medicines %}
                <tr>
                    <td>{{ medicine[1] }}</td>
                    <td>{{ medicine[2] }}</td>
                    <td>{{ medicine[3] }}</td>
                    <td><a href="{{ url_for('update_medicine', medicine_id=medicine[0]) }}">Update</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ url_for('add_medicine') }}">Add New Medicine</a>

        <!-- Logout Button -->
        <br><br>
        <a href="{{ url_for('logout') }}" class="logout-button">Logout</a>
    </div>
</body>
</html>
